.aedr-form-table {
    width: 50%;
}

.aedr-form-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.aedr-form-table tbody tr:last-child {
    border-bottom: none;
}

.aedr-form-table td {
    padding: 5px;
}

.aedr-form-table input[type="text"] {
    width: 100%;
}

.aedr-add-entry {
    margin-top: 5px !important;
    margin-left: 5px !important;
}
